.button {
    background-color: lightseagreen;
    color: white;
    margin: 8% 0px;
    min-width: 275px;
    font-size: 1.2em;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 50px;
}
.button_marked {
    background-color: lightseagreen;
    color: white;
    margin: 8% 0px;
    min-width: 175px;
    font-size: 1.2em;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 50px;
}

.marked-text {
    padding: 5px;
}

.marked-icon {
    font-size: 1.4rem;
    padding: 3px;
}

// .chart-buttons {
//     position: absolute;
//     right: 0;
//     margin-right: 10%;
//     bottom: 10%;
//     text-align: center;
//   }

  .favourite-button {
    position: absolute;
    right: 0;
    margin-right: 4%;
    bottom: 10%;
    text-align: center;
  }

  .radio-button {
    position: absolute;
    right: 0;
    margin-right: 4%;
    margin-top: 1%;
    width: 8%;
    font-size: 1em;
}

// @media screen and (max-width: 1750px) {
//     .radio-button {
//         margin-right: 2%;
//     }
//   }

//   @media screen and (max-width: 1650px) {
//     .radio-button {
//         margin-right: 0%;
//     }
//   }
.radio-title{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 15%;
}

.option {
    margin: 2% 0%;
}