.programtitle{
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0.3em;
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and ( max-width: 800px){
 .programtitle{
  margin-left: 10px;
 }
}

@media screen and ( max-width: 1100px){
.programtitle{
    font-size: 2.5em;
}
}


.header-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .filter-component {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
}

// .clear-all{
//   height: max-content;
//       background-color: #8C7FEE;
//       color: white;
//       font-size: inherit;
//       border: none;
//       padding: 1em;
//       border-radius: 50px;
//       margin-left: 3em;
//   }
  
//   @media screen and  (max-width: 900px){
//     .clear-all{
//           margin-left: 20px;
//       }
//     }

body {
  background: #fff;
}
.axis-selection {
  padding: 1em;
  width: 500px;
  margin: 2%;
  background: #fff;
  display: inline-flex;
}

.axis-heading {
  text-align: center;
}
.menu {
  text-align: center;
  margin-left: 14%;
}

.menu button {
  display: block;
  text-align: center;
  padding: 0.8em;
  margin: 1em 0 1em 0;
  width: 350px;
  font-weight: bold;
  font-size: medium;
  background: #b5b3b3;
  border: none;
  color: #fff;
}
.show-report {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  background-color: rgba(68, 60, 60, 0.836);
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}

// .clear-all {
//   margin-top: 10px;
//   height: max-content;
//   background-color:#8C7FEE;
//   color: white;
//   font-weight: bold;
//   font-size: medium;
//   border: none;
//   padding: 1em;
//   max-width: max-content;
//   border-radius: 50px;
//   margin-left: 5em;
// }

.clear-all {
  height: max-content;
  background-color: #8C7FEE;
  color: white;
  font-size: inherit;
  border: none;
  padding: 1em;
  border-radius: 50px;
  margin-left: 5em;
}

.selected {
  background-color: lightseagreen !important;
}
li {
  list-style: none;
}
.containercenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dimensionsselection {
  display: flex;
  justify-content: center;
  height: 300px;
}
.selectAxis {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0;
  flex-wrap: wrap;
}
.noresult {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: lightslategrey;
  padding: 5px;
}

.filter-component {
  display: flex;
  justify-content: space-between;
}

.input-dropdown {
  margin-left: 20px;
}

hr.break-line {
  // border-top: 1.3px solid #8C7FEE;
  border-top: 1.3px solid lightslategrey;
}

.header-component {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.openxmodal{
  display: flex;
    justify-content: end;
    margin-left: 370px;
    margin-top: -50px;
}

.openymodal{
  display: flex;
    justify-content: end;
    margin-left: 370px;
    margin-top: -50px;
}

// .mat-icon-button {
//   border-radius: 0%
// }

