<app-pageheader>
    <div class="programtitle">Program: Hepatitis - c Awareness</div>
    <div class="header-component">
        <div class="pagetitle">Metrics</div>
        <app-filter></app-filter>
    <!-- <div  *ngIf="dropdownList.length > 0">
        <mat-form-field>
            <mat-label>Topics</mat-label>
            <mat-select [(ngModel)]="selectedItems" (ngModelChange)="onTopicChange($event)" multiple>
                <input class="select-input" placeholder="Search for topic" (keyup)="onKey($event.target.value)">
                <span class="noresult" *ngIf="newDataArray.length === 0">No Search Found</span>
                <mat-option *ngFor="let topic of newDataArray" [value]="topic">{{topic}}</mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <button class="clear-all" (click)="clearAll()">Clear All</button> -->
    </div>

    <hr class = "break-line"/>

</app-pageheader>
<div class="pagecontainer">
    <div class="selectAxis">
        <div class="dimensionsselection">
            <div class="axis-selection">
                <div class="menu">
                    <h1 class="axis-heading">Horizontal Axis</h1>

                    <ng-container>
                        <button>{{this.fromxmodal}}</button>
                        <fa-icon class="openxmodal" aria-hidden="true" aria-label="Example hand icon" [icon]="faCheck" (click)="openDialog()"></fa-icon>
                    </ng-container>
                    <!-- <ng-container *ngFor="let key of horizontalArr">
                        <button (click)="onHorizontalAxisSelect(key)"
                            [ngClass]="{ 'selected': key === getSelectedHorizontalAxis() }">{{key}} &nbsp;&nbsp;
                            <fa-icon *ngIf=" key === getSelectedHorizontalAxis() " [icon]="faCheck"></fa-icon></button>
                    </ng-container> -->
                </div>
            </div>

            <div class="axis-selection">
                <div class="menu">
                    <h1 class="axis-heading">Vertical Axis</h1>

                    <ng-container>
                        <button>{{this.fromymodal}}</button>
                        <fa-icon class="openymodal" aria-hidden="true" aria-label="Example hand icon" [icon]="faCheck" (click)="openDialog2()"></fa-icon>
                      </ng-container>
                    <!-- <ng-container *ngFor="let key of verticalArr">
                        <button (click)="onVerticalAxisSelect(key)"
                            [ngClass]="{ 'selected': key === getSelectedVerticalAxis() }">{{key}}&nbsp;&nbsp;
                            <fa-icon *ngIf=" key === getSelectedVerticalAxis() " [icon]="faCheck"></fa-icon>
                        </button>
                    </ng-container> -->
                </div>
            </div>
        </div>

        <div class="containercenter"><button class="show-report" (click)="showReports()">Show Report</button></div>
    </div>
    <div *ngIf="showCharts" class="charts-container">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Consolidated">
                <ng-template matTabContent>
                    <app-barchart class="charts" [dimension]="selectedHorizontalValue" [label]="yAxisLabel" [barData]="barData">
                    </app-barchart>
                </ng-template>
            </mat-tab>
            <mat-tab label="Topic Wise Breakup">
                <ng-template matTabContent>
                    <app-stackedchart class="charts" [dimension]="selectedHorizontalValue" [label]="yAxisLabel"
                    [selectedTopics]="selectedItems" [topics]="topics" [stackedData]="stackedData" [changeStackChart]="changeStackChart"></app-stackedchart>               
                </ng-template>
            </mat-tab> 
            <mat-tab label="Trend" *ngIf="selectedHorizontalValue === 'Time Period'">
                <ng-template matTabContent>
                    <app-multilinechart class="charts" [label]="yAxisLabel" [dimension]="selectedHorizontalValue"
                    [multiLineData]="multiLineData"></app-multilinechart>
                </ng-template>
                </mat-tab>
          </mat-tab-group>
          
        <!-- <app-barchart class="charts" [dimension]="selectedHorizontalValue" [label]="yAxisLabel" [barData]="barData">
        </app-barchart> -->
        <!-- <app-stackedchart class="charts" [dimension]="selectedHorizontalValue" [label]="yAxisLabel"
            [selectedTopics]="selectedItems" [topics]="topics" [stackedData]="stackedData" [changeStackChart]="changeStackChart"></app-stackedchart>
        <app-multilinechart class="charts" [label]="yAxisLabel" [dimension]="selectedHorizontalValue"
        [multiLineData]="multiLineData"></app-multilinechart> -->
    </div>
</div>